.about{
    justify-content: center;
    text-align: center;
    gap: 5rem;
    /* background: #f3abab; */
    width: 100%;
    height: auto;
}
.about-image{
    /* position: relative; */
    background-color: #161616;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    margin-left: 35%;
}
.about-image img{
    width: 30vw;
    height: auto;
    margin: 0px 15px;
}
.about-content{
     width: 100%;
     /* background-color: aqua; */
}
.about h2{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7FFF00;
    padding: 10px;
    line-height: 5rem;
    margin-right: 0%;
}

.heading{
    font-size: 4.5rem;
}
.about-content h3{
    font-size: 2.6rem;
    color: #fff;
    margin-top: 3%;

}
.about-content p{
    font-size: 1.2rem;
    margin: 1rem 0 1rem;
    color: #fff;
    padding: 5px;
    line-height: 25px;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 20%;
}

@media screen and (max-width: 700px) {
    .about h2{
        font-size: 4rem;
    }
    .about-content h3{
        font-size: 2rem;
    }
    .about-content p{
        font-size: 15px;
         margin-right: 80px;
    }
    .about-image img{
        width: 30vw;
        border-radius: 10%;
        margin-left: 0px;
    }
    .about-image{
        background-color: #222222;
        border-radius: 50%;
    }
    .btn{
        text-align: center;
    }
    .about-content a{
         width: 25vw;
         height: 6vh;
         font-size: medium;
    }
}
