.about{
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    gap: 5rem;
    /* background: #f3abab; */
    width: 100%;
    height: auto;
}
.about-image{
    /* position: relative; */
    background-color: #583838;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    margin-left: 38%;
}
.about-image img{
    width: 30vw;
    height: auto;
    margin: 0px 15px;
}
.about-content{
     width: 100%;
     /* background-color: aqua; */
}
.about h2{
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .7px #7FFF00;
    padding: 15px;
    line-height: 10rem;
    margin-left: 10%;
}

.heading{
    /* text-align: center; */
    font-size: 4.5rem;
}
.about-content h3{
    font-size: 2.6rem;
    color: #fff;
    margin-left: 10%;
    /* background-color: #7FFF00; */
    margin-top: 3%;

}
.about-content p{
    font-size: 1.2rem;
    margin: 1rem 0 1rem;
    color: #fff;
    padding: 5px;
    line-height: 25px;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 20%;
}

@media screen and (max-width: 700px) {
    .about{
        gap: 2px;
        margin: 5px;
    }
    .about-content h2{
        font: 2em sans-serif;
    }
    .about-content h3{
        font: 1.2em sans-serif;
    }
    .about-content p{
        font: 1em sans-serif;
         margin-right: 10px;
    }
    .about-image img{
        width: 15vw;
    }
    .about-image{
        width: 19vw;
    }
    .btn{
        text-align: center;
    }
}
