.contact{
    align-items: center;
}
.contact h2{
    margin-bottom: 3rem;
    text-align: center;
    font: 1em;
}
.heading{
    line-height: 2rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.2rem;
    border-radius: 5rem;
    margin: .7rem 0;
    outline: none;
    background: #0d0d1469;
    color: aliceblue;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}

@media screen and (max-width: 700px) {
    .heading{
        font: 2rem sans-serif;
        padding: 0;
    }
    #form-contact{
        display: block;
        margin-left: 15px;   
    }
    #form-contact input{
          width: 95vw;     
    }
    #form-contact textarea{
        width: 95vw;
        height: 10vh;
        /* margin-right: 12rem; */
    }
    #form-contact .btn{
        width: 40vw;
        padding: 5px; 
        height: 40px;  
        font-size: 1rem;
    }
}